.box{
    padding: 15px;
}
.grey{ 
    background-color: rgb(247, 245, 241);
}
.center{
    text-align: center;
}
.bg-blue {
    
    background: #3079AB;
    color: white;
}
.card-white {
    background: rgb(119, 118, 118);
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 50px;
  }
